doctype html

html(ng-app='myApp')

  head
    link(rel='stylesheet',href='./bower_components/bootstrap/dist/css/bootstrap.min.css')
    script(src='./bower_components/angular/angular.min.js')
    script(src='./bower_components/jquery/dist/jquery.min.js')
    script(src='./bower_components/bootstrap/dist/js/bootstrap.min.js')

    link(href='style.css', rel='stylesheet')
    script(src='script.js')
    script(src='dirPagination.js')

  body
    h1 {{100+9}}

    div(ng-controller='MyController')
      input.form-control(type='number',ng-model='pageSize')
      input.form-control(type='text', ng-model='q')

      ul
        li(dir-paginate='meal in meals | filter:q |itemsPerPage: pageSize', current-page='currentPage')
          p {{meal}}
      //dir-pagination-controls(on-page-change='pageChangeHandler', template-url='dirPagination.tpl.html')
      dir-pagination-controls(on-page-change='pageChangeHandler')
