<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="style.css" rel="stylesheet">
    <script src="script.js"></script>
    <script src="dirPagination.js"></script>
  </head>
  <body>
    <h1>{{100+9}}</h1>
    <div ng-controller="MyController">
      <input type="number" ng-model="pageSize" class="form-control">
      <input type="text" ng-model="q" class="form-control">
      <ul>
        <li dir-paginate="meal in meals | filter:q |itemsPerPage: pageSize" current-page="currentPage">
          <p>{{meal}}</p>
        </li>
      </ul>
      <!--dir-pagination-controls(on-page-change='pageChangeHandler', template-url='dirPagination.tpl.html')-->
      <dir-pagination-controls on-page-change="pageChangeHandler"></dir-pagination-controls>
    </div>
  </body>
</html>